<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-hms-example" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" android="http://schemas.android.com/apk/res/android">
	<name>cordova-plugin-hms-example</name>
	<description>cordova-plugin-hms-example</description>
	<license>Apache 2.0</license>
	<keywords>cordova,hms</keywords>
	<js-module name="HMSExample" src="www/HMSExample.js">
		<clobbers target="HMSExample"></clobbers>
	</js-module>
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="HMSExample">
				<param name="android-package" value="com.huawei.hms.cordova.example.HMSExample"></param>
			</feature>
		</config-file>

		<hook type="after_plugin_install" src="hooks/after_plugin_install.js" />
        <hook type="before_plugin_uninstall" src="hooks/before_plugin_uninstall.js" />
        <hook type="after_prepare" src="hooks/after_prepare.js" />

		<framework src="com.huawei.hms:stats:5.0.3.301" />
        <framework src="com.huawei.agconnect:agconnect-core:1.4.1.300" />

		<source-file src="src/main/java/com/huawei/hms/cordova/example/HMSExample.java" target-dir="src/main/java/com/huawei/hms/cordova/example/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/SampleEvent.java" target-dir="src/main/java/com/huawei/hms/cordova/example/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/SampleFileForEventTest.java" target-dir="src/main/java/com/huawei/hms/cordova/example/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/Test1.java" target-dir="src/main/java/com/huawei/hms/cordova/example/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/CordovaBaseModule.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/CordovaEvent.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/CordovaMethod.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/HMSLog.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/handler/CorPack.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/handler/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/handler/CordovaController.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/handler/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/handler/CordovaEventRunner.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/handler/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/handler/CordovaModuleGroupHandler.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/handler/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/handler/CordovaModuleHandler.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/handler/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/handler/HMSLogger.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/handler/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/handler/NoSuchCordovaModuleException.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/handler/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/handler/Promise.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/handler/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/handler/TSCFileUtils.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/handler/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/handler/TSCGenerator.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/handler/"></source-file>
		<source-file src="src/main/java/com/huawei/hms/cordova/example/basef/util/Px2Dp.java" target-dir="src/main/java/com/huawei/hms/cordova/example/basef/util/"></source-file>
	</platform>
</plugin>
